.top {
    height: 100vh;
}

@keyframes growin {
	from {
		font-size: 0vw;
	}
	to {
		font-size: 7vw;
	}
}

.title {
    margin: 0;
    transform: translateY(40vh);
    font-size: 7vw;
    color: white;
    text-align: center;
	animation: 2s growin;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.subtitle {
    margin: 0;
    transform: translateY(40vh);
    font-size: 3vw;
    color: white;
    text-align: center;
	animation: 3s fadein;
}

.middle {
    height: 100vh;
}

.card {
	transform: translateY(5vh);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
	padding-bottom: 4.5vh;
    background-color: rgb(60, 60, 60);
    border: 5px solid rgb(60, 60, 60);
    border-radius: 3vh;

	animation: fadein 1s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
}


.card-title {
    margin-top: 3.5vh;
    color: white;
    font-size: 4vw;
    width: 70%;
    display: block;
	margin-bottom: 1vh;
}

.card-links {
    display: block;
    margin-top: 3.5vh;
    margin-left: 25px;
	transform: translateY(0.3vw);
	margin-bottom: 1vh;
}

.card-links svg:hover {
	cursor: pointer;
	fill: #a8a8a8;
	transition: 0.2s;
}

.card-top {
	transform: translateY(-2vh);
	display: flex;
	justify-content: center;
}

.card-content {
	margin-left: 5%;
    height: 50%;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
	gap: 20px;
}

.small-card {
	background-color: rgb(40, 40, 40);
	border-radius: 3vh;
	color: white;
}

.small-card h4 {
	font-size: 2vw;
	margin: 0;
	transform: translateX(25px) translateY(15px);
}

.small-card p {
	margin-right: 50px;
	font-size: 1.5vw;
	transform: translateX(25px);
}

.small-card-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.small-card-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.small-card-3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.small-card-4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.small {
	display: none;
}