body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(48, 48, 48);
	font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: rgb(48, 48, 48);
}

::-webkit-scrollbar-thumb {
	background: #e2e2e2;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a8a8a8;
}

::-webkit-scrollbar-button {
	background: rgb(48, 48, 48)
}